<div class="container px-0" *ngIf="recipe != undefined">
  <ng-container *ngIf="!isOwner">
    <hr class="my-4" *ngIf="user != undefined" />
    <div>
      <app-h5 [title]="l10n.locale.views.recipe.voting.title"></app-h5>
    </div>
    <div class="d-flex justify-content-between align-items-center">
      <span class="text-muted fs-7">
        {{ alreadyVoted ? l10n.locale.views.recipe.voting.votedAlready : l10n.locale.views.recipe.voting.voteToday }}
      </span>
      <button type="button" class="btn btn-sm btn-medium-green text-nowrap ms-2" data-bs-toggle="modal"
        data-bs-target="#voting-modal">
        <app-icon [icon]="recipeRateIcon" [marginEnd]="1"></app-icon>
        {{ alreadyVoted ? l10n.locale.views.recipe.voting.btnTextRenew : l10n.locale.views.recipe.voting.btnText }}
      </button>
    </div>
  </ng-container>
</div>
