<div class="container mb-5">
    <app-h3 [icon]="favouriteIcon" [title]="l10n.locale.views.myrecipes.title"></app-h3>
    <div class="d-flex justify-content-between">
        <p class="fs-7 mb-0">
            {{ recipes.count == 0 ? l10n.locale.views.myrecipes.noSavedRecipesDescription :
            ln(l10n.locale.views.myrecipes.savedRecipesDescription, [recipes.count]) }}
        </p>
        <a [routerLink]="['/recipe', 'new']" class="ms-2">
            <button type="button" class="btn btn btn-medium-green">
                {{ l10n.locale.views.myrecipes.createRecipeLink }}
            </button>
        </a>
    </div>
</div>

<div class="container" *ngIf="loaded && recipes.count == 0">
    <p class="text-center">
        <strong>{{ l10n.locale.views.myrecipes.noSavedRecipesText }}</strong>
    </p>
    <div class="col-12 col-md-8 col-lg-4 col-xl-3 text-center">
        <app-icon [icon]="userIcon" [fixedWidth]="true" [addCss]="'fa-10x text-dark-blue'"></app-icon>
    </div>
</div>

<div class="container" *ngIf="loaded && recipes.count > 0">
    <div class="row p-0">
        <div class="col col-12 col-md-6 col-xl-4 p-0">
            <ng-container *ngFor="let recipeitem of recipes.list; let i = index">
                <ng-container *ngIf="i % 3 === 0">
                    <app-recipe-v-card [recipe]="recipeitem" [hideOwner]="true"></app-recipe-v-card>
                </ng-container>
            </ng-container>
        </div>
        <div class="col col-12 col-md-6 col-xl-4 p-0">
            <ng-container *ngFor="let recipeitem of recipes.list; let i = index">
                <ng-container *ngIf="i % 3 === 1">
                    <app-recipe-v-card [recipe]="recipeitem" [hideOwner]="true"></app-recipe-v-card>
                </ng-container>
            </ng-container>
        </div>
        <div class="col col-12 col-md-6 col-xl-4 p-0">
            <ng-container *ngFor="let recipeitem of recipes.list; let i = index">
                <ng-container *ngIf="i % 3 === 2">
                    <app-recipe-v-card [recipe]="recipeitem" [hideOwner]="true"></app-recipe-v-card>
                </ng-container>
            </ng-container>
        </div>
    </div>
</div>